# The City of Calgary: Traffic Incidents and the Impacts on Residents

## Data Cleaning and Wrangling

In [1]:
# importing packages
import pandas as pd

#### Traffic Incidents Dataset

In [2]:
# importing the raw traffic incidents dataset
traffic_incidents_df = pd.read_csv("Traffic_Incidents_20240127.csv")
display(traffic_incidents_df.head())

,INCIDENT INFO,DESCRIPTION,START_DT,MODIFIED_DT,QUADRANT,Longitude,Latitude,Count,id,Point
0,Westbound 16 Avenue at Deerfoot Trail NE,Stalled vehicle. Partially blocking the right...,2022/06/21 07:31:40 AM,2022/06/21 07:33:16 AM,NE,-114.026687,51.067485,1,2022-06-21T07:31:4051.067485129276236-114.0266...,POINT (-114.02668672232672 51.067485129276236)
1,11 Avenue and 4 Street SW,Traffic incident. Blocking multiple lanes,2022/06/21 04:02:11 AM,2022/06/21 04:12:38 AM,SW,-114.071481,51.042624,1,2022-06-21T04:02:1151.04262449261462-114.07148...,POINT (-114.07148057660925 51.04262449261462)
2,68 Street and Memorial Drive E,Traffic incident.,2022/06/20 11:53:08 PM,2022/06/20 11:55:42 PM,NE,-113.935553,51.052474,1,2022-06-20T23:53:0851.0524735056658-113.935553...,POINT (-113.935553325751 51.0524735056658)
3,Eastbound 16 Avenue and 36 Street NE,Traffic incident. Blocking the left shoulder,2022/06/20 04:43:21 PM,2022/06/20 05:17:05 PM,NE,-113.989219,51.067086,1,2022-06-20T16:43:2151.06708565896752-113.98921...,POINT (-113.98921905311566 51.06708565896752)
4,Barlow Trail and 61 Avenue SE,Traffic incident.,2022/06/20 04:42:12 PM,2022/06/20 05:28:21 PM,SE,-113.985727,50.998727,1,2022-06-20T16:42:1250.99872748477766-113.98572...,POINT (-113.98572655353505 50.99872748477766)

In [3]:
# checking if all counts of traffic incidents are 1
traffic_incidents_df["Count"].unique()

array([1])

In [4]:
# dropping columns not needed
traffic_incidents_df.drop(columns = ["id", "Count", "Point"], inplace = True)
# checking for the number of missing values in each column
display(traffic_incidents_df.isna().sum())

INCIDENT INFO        0
DESCRIPTION          2
START_DT             0
MODIFIED_DT      14057
QUADRANT         14059
Longitude            0
Latitude             0
dtype: int64

In [5]:
# dropping the columns with a significant number of missing values
traffic_incidents_df.drop(columns = ["MODIFIED_DT", "QUADRANT"], inplace = True)
# checking the datatypes of each column
display(traffic_incidents_df.dtypes)

INCIDENT INFO     object
DESCRIPTION       object
START_DT          object
Longitude        float64
Latitude         float64
dtype: object

In [6]:
# converting the START_DT column into a datetime object
traffic_incidents_df["START_DT"] = pd.to_datetime(traffic_incidents_df["START_DT"])
# filtering for all incidents before jan 1, 2024 12:00:00 am
traffic_incidents_df = traffic_incidents_df[traffic_incidents_df["START_DT"] < "2024-01-01 00:00:00"]
# changing column names
traffic_incidents_df.rename(columns = {"INCIDENT INFO":"Incident info", "DESCRIPTION":"Description", "START_DT":"Date"}, inplace = True)
display(traffic_incidents_df.head())

,Incident info,Description,Date,Longitude,Latitude
0,Westbound 16 Avenue at Deerfoot Trail NE,Stalled vehicle. Partially blocking the right...,2022-06-21 07:31:40,-114.026687,51.067485
1,11 Avenue and 4 Street SW,Traffic incident. Blocking multiple lanes,2022-06-21 04:02:11,-114.071481,51.042624
2,68 Street and Memorial Drive E,Traffic incident.,2022-06-20 23:53:08,-113.935553,51.052474
3,Eastbound 16 Avenue and 36 Street NE,Traffic incident. Blocking the left shoulder,2022-06-20 16:43:21,-113.989219,51.067086
4,Barlow Trail and 61 Avenue SE,Traffic incident.,2022-06-20 16:42:12,-113.985727,50.998727

In [7]:
# exporting the dataset out as a csv
traffic_incidents_df.to_csv("traffic_incidents_cleaned.csv")

#### Traffic Signs Dataset

In [8]:
# importing raw traffic signs dataset
traffic_signs_df = pd.read_csv("Traffic_Signs_20240208.csv")
display(traffic_signs_df.head())

,TE_SIGNLOCATION_UNITID,FACING_CD,STA_CD,BOOK_CD,SIZE_CD,MISTNO,SIGN_TXT,UNITID,INSTDATE,REUSE,MATERIAL,BLADE_TYPE,SGN_STA_CD,SGN_COUNT_NO,FLD_SRC_TXT,SUPPORTTYPE,PL_TY,COMMENTS,POINT
0,1109232327,S,R,NaN,NaN,NaN,NaN,1.109232e+09,NaN,NaN,NaN,Yield,R,0.0,NaN,NaN,NaN,NaN,POINT (-113.90912231652905 50.95285265999816)
1,1109077720,S,R,NaN,NaN,118290.0,NaN,1.109169e+09,NaN,NaN,NaN,Speed,R,0.0,NaN,NaN,NaN,NaN,POINT (-114.11791745574517 51.05122411771405)
2,1109031350,N,A,SG_11-250,NaN,35924.0,NaN,1.109150e+09,2004-07-01,NaN,NaN,Regulatory,A,1.0,NaN,NaN,NaN,NaN,POINT (-114.10875467880268 51.14009023357173)
3,1109025197,W,R,NaN,NaN,27810.0,NaN,1.109183e+09,NaN,NaN,NaN,Parking Restrictions,R,1.0,NaN,NaN,NaN,NaN,POINT (-114.07682108678044 51.063811504060965)
4,1109027078,E,R,SG_11-250,NaN,30584.0,NaN,1.109190e+09,NaN,NaN,NaN,Regulatory,R,3.0,NaN,NaN,NaN,NaN,POINT (-114.0369293315943 50.99954671067407)

In [9]:
# dropping irrelevent columns
traffic_signs_df.drop(columns = ["TE_SIGNLOCATION_UNITID", "FACING_CD", "STA_CD", "BOOK_CD",
                                 "SIZE_CD", "MISTNO", "SIGN_TXT", "UNITID", "INSTDATE", "REUSE",
                                 "MATERIAL", "SGN_STA_CD", "FLD_SRC_TXT", "SUPPORTTYPE", "PL_TY",
                                 "COMMENTS"], inplace = True)
# checking for the number of missing values in each column
display(traffic_signs_df.isna().sum())

BLADE_TYPE      875
SGN_COUNT_NO     44
POINT             0
dtype: int64

In [10]:
# dropping rows with missing values
for column in traffic_signs_df.columns:
    traffic_signs_df.drop(traffic_signs_df[traffic_signs_df[column].isna()].index, inplace = True)
# checking the datatypes of columns
display(traffic_signs_df.dtypes)

BLADE_TYPE       object
SGN_COUNT_NO    float64
POINT            object
dtype: object

In [11]:
# checking for all unique values of type of sign
traffic_signs_df["BLADE_TYPE"].unique()

array(['Yield', 'Speed', 'Regulatory', 'Parking Restrictions', 'Warning',
       'Stop', 'Playground', 'Pedestrian', 'School',
       'Guide / Information', 'Bicycle / Pathway', 'Hospital',
       'Street Name', 'Timed Parking', 'Loading Zone', 'Disabled Parking',
       'Residential Parking', 'Snow Route', 'Park Plus', 'Overhead Guide',
       'Halo'], dtype=object)

In [12]:
# removing irrelevant types of signs
signs_to_drop = ["Speed", "Regulatory", "Parking Restrictions", "Warning", "Playground", "Pedestrian", "School",
                 "Guide / Information", "Bicycle / Pathway", "Hospital", "Street Name", "Timed Parking",
                 "Loading Zone", "Disabled Parking", "Residential Parking", "Snow Route", "Park Plus", "Overhead Guide", "Halo"]
for sign in signs_to_drop:
    traffic_signs_df.drop(traffic_signs_df[traffic_signs_df["BLADE_TYPE"] == sign].index, inplace = True)

In [13]:
# renaming columns
traffic_signs_df.rename(columns = {"BLADE_TYPE":"sign", "SGN_COUNT_NO":"count", "POINT":"geometry"}, inplace = True)
display(traffic_signs_df.head())

     sign  count                                        geometry
0   Yield    0.0   POINT (-113.90912231652905 50.95285265999816)
8   Yield    1.0    POINT (-114.16452521100709 51.0394853655438)
11  Yield    1.0  POINT (-114.06515007469494 50.914291613495664)
12   Stop    2.0    POINT (-114.14138261644307 50.9503904907611)
17   Stop    4.0  POINT (-114.05770696355378 51.050554840686836)

In [14]:
# exporting the dataset out as a csv
traffic_signs_df.to_csv("traffic_signs_cleaned.csv")

#### Description Cleaning

In [198]:
# extracting the description column for the traffic incidents
list_descriptions = traffic_incidents_df["Description"]
# filling in nan values (numeric) with strings
list_descriptions = list_descriptions.apply(lambda x: "None" if type(x)!=str else x)
# converting the series to a list
list_descriptions = list_descriptions.to_list()
# joining the list into one string with a space seperating each description
string_descriptions = " ".join(list_descriptions)

In [199]:
# removing non-letter characters
non_letter_characters = ["!", '"', "#", "$", "%", "&", "'", "(", ")", "*", "+", ",", ".", "/", ":", ";", "<", "=", ">", "?", "@", "[", "]", "^", "_", "`", "{", "|", "}", "~", "0", "1", "2", "3", "4", "5", "6", "7", "8", "9"]
for char in non_letter_characters:
    string_descriptions = string_descriptions.replace(char, "")

In [205]:
# converting multiple spaces together into one space
# (split, splits the string into a list of words)
string_descriptions = " ".join(string_descriptions.split())
# making every word lowercase to maintain consistency
string_descriptions = string_descriptions.lower()
# replacing spaces with a new line for the txt file
string_descriptions = string_descriptions.replace(" ", "\n")

### Traffic Camera Cleaning

In [18]:
# importing the dataset
cameras_df = pd.read_csv("Traffic_Cameras_20240209.csv")
display(cameras_df.head())

,Camera URL,Quadrant,Camera Location,Point
0,Camera 158 (http://trafficcam.calgary.ca/loc15...,SW,26 Ave / 4 St SW,POINT (-114.0716774 51.0296112)
1,Camera 30 (http://trafficcam.calgary.ca/loc29....,SE,114 Avenue / 52 Street SE,POINT (-113.958331 50.9504395)
2,Camera 142 (http://trafficcam.calgary.ca/loc14...,SW,90 Avenue / 24 Street SW,POINT (-114.1177502 50.9724213)
3,Camera 90 (http://trafficcam.calgary.ca/loc89....,NW/NE,Samis Road / Centre Street North,POINT (-114.0624739 51.0549834)
4,Camera 38 (https://trafficcam.calgary.ca/loc37...,NW,Crowchild Trail / Shaganappi Trail NW,POINT (-114.149379 51.0988494)

In [19]:
# dropping irrelevent columns
cameras_df.drop(columns = ["Camera URL", "Camera Location"], inplace = True)

In [20]:
# checking for missing values in each column
cameras_df.isna().sum()

Quadrant    0
Point       0
dtype: int64

In [21]:
# checking the datatypes of the columns
cameras_df.dtypes

Quadrant    object
Point       object
dtype: object

In [22]:
# renaming columns
cameras_df.rename(columns = {"Quadrant":"quadrant","Point":"geometry"}, inplace = True)

In [ ]:
# exporting the dataset out as a csv
cameras_df.to_csv("traffic_cameras_cleaned.csv")

### Exporting Description Dataset

In [206]:
# writing the list from above into a txt file for exporting
with open("trafficincidentdescriptions.txt", "w") as file:
    # writing the title for the column
    file.write("Traffic_Incident_Decriptions\n")
    file.write(string_descriptions)

### References

City of Calgary. (2024). Map of Traffic Signs. Open Calgary. https://data.calgary.ca/Transportation-Transit/Map-of-Traffic-Signs/2c7u-hsrm

City of Calgary. (2024). Traffic Cameras. Open Calgary. https://data.calgary.ca/Transportation-Transit/Traffic-Cameras/k7p9-kppz/about_data

City of Calgary. (2024). Traffic Incidents. Open Calgary. https://data.calgary.ca/Transportation-Transit/Traffic-Incidents/35ra-9556/about_data

Dhaliwal, H. (2024). The City of Calgary Traffic Incidents and the Impacts on Residents. Github. https://github.com/Harjot66/The-City-of-Calgary-Traffic-Incidents-and-the-Impacts-on-Residents

Froberg D. (2019). Grey Concrete Buildings. Unsplash. https://unsplash.com/photos/grey-concrete-buildings-NreIaUZ-h7U?utm_source=63921&utm_medium=referral